<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="SmartCNP"
            id="SmartCNP.commands.category">
      </category>
      <command
            name="SmartCopy"
            categoryId="SmartCNP.commands.category"
            id="SmartCNP.commands.smartCopyCommand">
      </command>
      <command
            categoryId="SmartCNP.commands.category"
            id="SmartCNP.commands.smartPasteCommand"
            name="SmartPaste">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="SmartCNP.commands.smartCopyCommand"
            class="com.smartcnp.plugin.handlers.CopyHandler">
      </handler>
      <handler
            class="com.smartcnp.plugin.handlers.PasteHandler"
            commandId="SmartCNP.commands.smartPasteCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="SmartCNP.commands.smartCopyCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+7"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
    </extension> 
     <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="SmartCNP.commands.smartPasteCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+8">
      </key>
      </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="SmartyCNP"
               mnemonic="M"
               id="SmartCNP.menus.SmartCNPMenu">
            <command
                  commandId="SmartCNP.commands.smartCopyCommand"
                  mnemonic="S"
                  id="SmartCNP.menus.smartCopyCommand">
            </command>
            <command
                  commandId="SmartCNP.commands.smartPasteCommand"
                  id="SmartCNP.menus.smartPasteCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <!--
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="SmartCNP.menus.smartPasteToolbar">
            <command
                  commandId="SmartCNP.commands.smartCopyCommand"
                  icon="icons/dp.ico"
                  tooltip="smart copy"
                  id="SmartCNP.toolbars.smartCopyCommand">
            </command>
            <command
                  commandId="SmartCNP.commands.smartPasteCommand"
                  icon="icons/dp.ico"
                  id="SmartCNP.toolbars.smartPasteCommand"
                  tooltip="smart paste">
            </command>
         </toolbar>
      </menuContribution>
      -->
   </extension>

</plugin>
